body {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.0em;
    break-after: avoid;
}

h3 {
    font-size: 1.0em;
    break-after: avoid;
}

li{
    page-break-inside:avoid;
}
tr{
    page-break-inside:avoid;
}
.unnumberedHeader{
    font-weight: bold;
}

.centerText{
    text-align: center;
}
.rightAlignText{
    text-align: right;
}
.leftAlignText{
    text-align: left;
}   
.boldText{
    font-weight: bold;
}
.tabOver{
    padding-left: 40px;
}
.smallText{
    font-size: .8em;
}

.marginTop1.plainTableLarge{
    margin-top: 1em;
}
.marginTop1.plainTableMedium{
    margin-top: 1em;
}

/*----------------------------------------------*/
/*----------------------------------------------*/
/*DOCUMENT TITLE PAGE SPECIAL FORMATTING*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.titlePage1{
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.titlePage2{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.titlePage3{
    font-size: 1.25em;
    text-align: center;
}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/






/*----------------------------------------------*/
/*----------------------------------------------*/
/*INSPECTION SECTION SPECIAL FORMATTING*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.tableInspections {
    width: 90%;
}

.cellInspectionNumber {
    width: 5%;
    min-width: 3em;
    vertical-align: top;
}

.cellInspectionInterval {
    width: 5%;
    min-width: 6em;
    vertical-align: top;
}

.cellInspectionText {
    width: 90%;
}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/



/*----------------------------------------------*/
/*----------------------------------------------*/
/*LIMITATIONS SECTION SPECIAL FORMATTING*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.limitationsTable {
    width: 6in;
    margin: auto;
}

.limitationsTableCell {
    border: 1px solid black;
    border-collapse: collapse;
}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/


/*----------------------------------------------*/
/*----------------------------------------------*/
/*WARNING, CAUTION, AND NOTE BOXES*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.boxCautionSmall{
    width: 3in;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxCautionSmallHeader{
    font-weight: bold;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxCautionSmallText{
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxCautionMedium{
    width: 4.5in;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxCautionMediumHeader{
    font-weight: bold;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxCautionMediumText{
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxCautionLarge{
    width: 6in;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxCautionLargeHeader{
    font-weight: bold;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxCautionLargeText{
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}


.boxWarningSmall{
    width: 3in;
    border: 1px solid red;
    text-align: center;
    margin: auto;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
    page-break-inside:avoid;
}
.boxWarningSmallHeader{
    color: red;
    font-weight: bold;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxWarningSmallText{
    color: red;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxWarningMedium{
    width: 4.5in;
    border: 1px solid red;
    text-align: center;
    margin: auto;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
    page-break-inside:avoid;
}
.boxWarningMediumHeader{
    font-weight: bold;
    color: red;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxWarningMediumText{
    color: red;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxWarningLarge{
    width: 6in;
    border: 1px solid red;
    text-align: center;
    margin: auto;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
    page-break-inside:avoid;
}
.boxWarningLargeHeader{
    color: red;
    font-weight: bold;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
.boxWarningLargeText{
    color: red;
    margin-top: .2em;
    margin-bottom: .2em;
    break-before: avoid;
}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/

/*----------------------------------------------*/
/*----------------------------------------------*/
/*STANDARD TABLE FORMATTING*/
/*----------------------------------------------*/
/*----------------------------------------------*/

/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.plainTableSmall{
    border: 1px solid black;
    border-collapse: collapse;
    width: 3.0in;
    margin: auto;
    page-break-inside: avoid;
}
.plainTableMedium{
    border: 1px solid black;
    border-collapse: collapse;
    width: 4.5in;
    margin: auto;
    page-break-inside: avoid;
}
.plainTableLarge{
    border: 1px solid black;
    border-collapse: collapse;
    width: 6in;
    margin: auto;
    page-break-inside: avoid;
}
.plainTableHeaderCell{
    border: 1px solid black;
    font-weight: bold;
    border-collapse: collapse;
    background-color: lightgray;
}
.plainTableNormalCell{
    border: 1px solid black;
    border-collapse: collapse;
}
.cellWidth1_0{
    width: 1.0in;
}
.cellWidth1_5{
    width: 1.5in;
}
.cellWidth2_0{
    width: 2.0in;
}
.cellWidth3_0{
    width: 3.0in;
}


/*----------------------------------------------*/
/*----------------------------------------------*/
/*STANDARD IMAGE FORMATTING*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.imageCentered_6x8{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6in;
    height: 8in;
}
.imageCentered_6x6{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6in;
    height: 6in;
}
.imageCentered_6x4{ /*L/W = 1.5*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6in;
    height: 4in;
}
.imageCentered_6x2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6in;
    height: 2in;
}
.imageCentered_3x2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3in;
    height: 2in;
}
.imageCentered_3x3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3in;
    height: 3in;
}
.imageCentered_3x5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3in;
    height: 5in;
}
.imageCentered_4x2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4in;
    height: 2in;
}
.imageCentered_4x3{ /*L/W = 1.33*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4in;
    height: 3in;
}
.imageCentered_4x4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4in;
    height: 4in;
}
.imageCentered_5x2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5in;
    height: 2in;
}
.imageCentered_5x3{ /*L/W = 1.67*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5in;
    height: 3in;
}
.imageCentered_5x4{ /*L/W = 1.25*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5in;
    height: 4in;
}
.imageCentered_3x4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3in;
    height: 4in;
}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/









/*----------------------------------------------*/
/*----------------------------------------------*/
/*TABLE OF CONTENTS STUFF*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.tocHeader{
    text-align: center;
    font-weight: bold;
    font-size: .9em;
    text-decoration: underline;
}
.tocLevel2{
    font-size: .9em;
    /* line-height: 0.1em; */
}
.tocLevel3{
    font-size: .9em;
    /* line-height: 0.1em; */
    margin-left: .5em;
}
.tocLevel4{
    font-size: .9em;
    /* line-height: 0.1em; */
    margin-left: .75em;
}
.tocGrid{
    display: grid;
    grid-template-columns: auto max-content;
    align-items: end;

    position: relative;
    overflow: hidden;
}
.tocLeaders::after{
    position: absolute;
    padding-left: .25ch;
    content: " . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . ";
    margin-right: 5ch;
    text-align: right;
}
/*TOC Page numbers don't work for custom counter names...had to do custom javascript way to get page numbers*/
/*
.tocGrid::after{
    content: target-counter(attr(href), page);
}
*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/


